---
const { post } = Astro.props;
---


<div class="card">
    <a class='post-link' href={post.uri} aria-label={post.title}>
    <img
      class="card-img-top"
      src={post?.featuredImage?.node?.mediaItemUrl}
      alt={post?.featuredImage?.node?.altText}
      srcset={post?.featuredImage?.node?.srcSet}
      loading='lazy'
      width={post?.featuredImage?.node?.mediaDetails?.width}
      height={post?.featuredImage?.node?.mediaDetails?.height}
    >
    </a>
    <div class="card-body">
      <div class="metaWrapper">
        { post.categories.nodes.map(category => {
          return (<a class='btn btn-danger' href={category.uri}>{category.name}</a>)
          })}
          <span><time datetime={post.date}>{new Date(post.date).toLocaleDateString()}</time></span>
      </div>
      <h4 class="card-title"><a class='post-link' href={post.uri} aria-label={post.title}>{post.title}</a></h4>
      <p class="card-text" set:html={post.excerpt}></p>
    </div>

</div>


<style>

img {
  max-width: 100%;
  height: 300px;
  object-fit: cover;
}

.metaWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.card {
  width: calc(50% - 10px);
  margin: 5px;
  box-sizing: border-box;
}
.card-title {
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}

</style>
